.mblSpinWheelSlot {
	position: relative;
	overflow: hidden;
	top: 0px;
	border: solid orange 10px;
}

.mblSpinWheelSlotLabel {
	padding: 0;
	overflow: hidden;
}

.mblSpinWheelSlotLabel img{
	vertical-align: middle;
}

.mblSpinWheelSlotContainer {
	position: relative;
}

.mblSpinWheelSlotTouch {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
}
